.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 16px;
}

.grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 38.2vw 23.6vw 1fr;
  grid-template-columns: 38.2vw 23.6vw 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.right-content-grid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 61.8% 1fr;
  grid-template-columns: 61.8% 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 100%, .72)), to(#fff)), url('../images/halftone.svg');
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, .72), #fff), url('../images/halftone.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.comics-background-image {
  display: block;
  width: 4320px;
  height: 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url('../images/comics-background.jpg');
  background-position: 0px 0px;
  background-size: 1440px;
  background-repeat: repeat-x;
}

.white-background-image {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.stan-lee {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -webkit-transform: translate(-6.8vw, 0px);
  -ms-transform: translate(-6.8vw, 0px);
  transform: translate(-6.8vw, 0px);
}

.quote-text {
  font-family: Bangers, sans-serif;
  font-size: 1.618em;
  line-height: 1em;
  text-align: center;
}

.excelsior {
  display: block;
  font-family: Bangers, sans-serif;
  color: #ed1d24;
  font-size: 4.236em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.stan-lee-signature {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.angle-block {
  width: 100%;
  height: 100%;
}

.comics-background {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  overflow: hidden;
}

.bold-text {
  display: block;
}

.excelsior-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  overflow: hidden;
  padding: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(237, 29, 36, .93);
}

.youtube {
  display: block;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  max-width: 840px;
}

.button {
  position: absolute;
  top: 42px;
  right: 42px;
  background-color: transparent;
  font-family: Bangers, sans-serif;
  font-size: 1.618em;
}

.div-block {
  width: 100%;
  max-width: 840px;
}

.text-block {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  font-family: Bangers, sans-serif;
  font-size: 0.9em;
  line-height: 1em;
}

@media (max-width: 991px) {
  body {
    font-size: 15px;
    line-height: 15px;
  }

  .right-content-grid {
    background-color: #fff;
  }

  .comics-background-image {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .white-background-image {
    width: 100%;
    height: 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .excelsior {
    font-size: 1.618em;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 11px;
    line-height: 11px;
  }
}

#w-node-719580b166a2-6b5fd26b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3350024c812d-6b5fd26b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-84cd6cab593c-6b5fd26b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e26a3b5c2942-6b5fd26b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-76991fccffe0-6b5fd26b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b230923781e9-6b5fd26b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: end;
  justify-self: end;
}
